*
{
    margin: 0;
    padding: 0;
    
}

.back
{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/city2.jpg');
width: 100%;
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
position: absolute;
}

.container
{
    background-color: #000000d0;
    width: 25%;
    height: 60vh;
    margin-left: 38%;
    margin-top: 15%;
    border-radius: 10px;
}


.search
{
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 15%;
    height: 4vh;
    width: 60%;
    background: #7c7c7c2b;
    color: white;
}

.city
{
    color: white;
    margin-top: 13%;
    margin-left: 4%;
  
}

.temp
{
    color: white;
    margin-left: 4%;
}


.cloud
{
    width: 10%;
    margin-left: 5%;
    
}

.set
{
    display: flex;
    
}

.set h3
{
    margin-top: 1.8%;
    margin-left: 5%;
}


.humidity
{
    color: white;
    margin-left: 5%;
}

.wind

{
    color: white;
    margin-left: 5%;
}

.btn
{
    margin-left: 35%;
    background-color: #7c7c7c2b;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}